<div class="process-comm" @onclick="Clicked">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div><!--process-comm end-->

@code {
     [Parameter]  public EventCallback BounceClick { get; set; }

    private async Task Clicked()
    {
        await BounceClick.InvokeAsync(default);
    }
}
