@inject AppTranslate Translate

<div class="widget widget-jobs">
    <div class="sd-title">
        <h3>@Translate[@Title]</h3>
        <i class="la la-ellipsis-v"></i>
    </div>
    <div class="jobs-list arAlign">
        <div class="job-info">
            <div class="job-details">
                <h3>Junior Seo Designer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="hr-rate">
                <span>$25/hr</span>
            </div>
        </div><!--job-info end-->
    </div><!--jobs-list end-->
</div><!--widget-jobs end-->


@code {
    [Parameter] public string Title { get; set; }
}
