@inject AppTranslate Translate
<div class="product-feed-tab" id="portfolio-dd">
    <div class="portfolio-gallery-sec">
        <h3 class="arAlign">@Translate["Portfolio"]</h3>
        <div class="gallery_pf">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="gallery_pt">
                        <img src="template/images/via/271x174.png" alt="">
                        <a href="javascript:void(0)" title=""><img src="template/images/all-out.png" alt=""></a>
                    </div><!--gallery_pt end-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                    <div class="gallery_pt">
                        <img src="template/images/via/170x170.png" alt="">
                        <a href="javascript:void(0)" title=""><img src="template/images/all-out.png" alt=""></a>
                    </div><!--gallery_pt end-->
                </div>

            </div>
        </div><!--gallery_pf end-->
    </div><!--portfolio-gallery-sec end-->
</div><!--product-feed-tab end-->
@code {

}
