
@inject AppTranslate Translate
<div class="suggestions full-width">
    <div class="sd-title">
        <h3>@(Translate[Title??""])</h3>
        <i class="la la-ellipsis-v"></i>
    </div><!--sd-title end-->

    <div class="suggestions-list">
        <div class="suggestion-usd">
            <img src="template/images/via/35x35" alt="">
            <div class="sgt-text arFlip">
                <h4 class="arFlip-1 arAlign">Jessica William</h4>
                <span>Graphic Designer</span>
            </div>
            <span><i class="la la-plus"></i></span>
        </div>
        <div class="view-more arFlip">
            <a href="javascript:void(0)" title="">@Translate["View More"]</a>
        </div>
    </div><!--suggestions-list end-->
</div><!--suggestions end-->


@code {
    [Parameter] public string Title { get; set; }
}
