@page "/Index"

@inject AppTranslate Translate

<CallJavascript />

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">

                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            <img src="template/images/via/100x100.png" alt="">
                                        </div>
                                    </div><!--username-dt end-->
                                    <div class="user-specs arFlip">
                                        <h3 class="arFlip-1">John Doe</h3>
                                        <span>Graphic Designer at Self Employed</span>
                                    </div>
                                </div><!--user-profile end-->
                                <ul class="user-fw-status arFlip">
                                    <li>
                                        <h4 class="arFlip-1">@Translate["Following"]</h4>
                                        <span>34</span>
                                    </li>
                                    <li>
                                        <h4 class="arFlip-1">@Translate["Followers"]</h4>
                                        <span>155</span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" title="">@Translate["View Profile"]</a>
                                    </li>
                                </ul>
                            </div><!--user-data end-->

                            <Suggestion />

                            <div class="tags-sec full-width">
                                <selectLang>
                                    <Language nav="w-100">

                                        <div class="cp-sec">
                                            <p><img src="template/images/cp.png" alt="">Jolijober 2020</p>
                                        </div>
                                    </Language>
                                </selectLang>
                            </div><!--tags-sec end-->

                        </div><!--main-left-sidebar end-->
                    </div>

                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">

                            <PostActionBar />


                            <div class="posts-section">

                                <JobPost />

                                <ProfilesSlider />

                                <ProjectPost />

                                <JobPost IsOpenComment="true" />


                                <div class="process-comm">
                                    <div class="spinner">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div><!--process-comm end-->
                            </div><!--posts-section end-->
                        </div><!--main-ws-sec end-->
                    </div>

                    <div class="col-lg-3 pd-right-none no-pd">
                        <div class="right-sidebar">
                            @*<div class="widget widget-about">
                                    <img src="template/images/wd-logo.png" alt="">
                                    <h3>Track Time on jolijober</h3>
                                    <span>Pay only for the Hours worked</span>
                                    <div class="sign_link">
                                        <h3><a href="javascript:void(0)" title="">Sign up</a></h3>
                                        <a href="javascript:void(0)" title="">Learn More</a>
                                    </div>
                                </div>*@<!--widget-about end-->


                            <Cards Title="Top Jobs" />
                            <Cards Title="Most Viewed This Week" />


                            <Suggestion Title="Most Viewed People" />


                        </div><!--right-sidebar end-->
                    </div>

                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
</main>




<ChatBox />