@page "/Index"

@inject AppTranslate Translate

<CallJavascript />

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">

                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            <img src="template/images/via/100x100.png" alt="">
                                        </div>
                                    </div><!--username-dt end-->
                                    <div class="user-specs arFlip">
                                        <h3 class="arFlip-1">@Translate["John Doe"]</h3>
                                        <span>Graphic Designer at Self Employed</span>
                                    </div>
                                </div><!--user-profile end-->
                                <ul class="user-fw-status arFlip">
                                    <li>
                                        <h4 class="arFlip-1">@Translate["Following"]</h4>
                                        <span>34</span>
                                    </li>
                                    <li>
                                        <h4 class="arFlip-1">@Translate["Followers"]</h4>
                                        <span>155</span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" title="">@Translate["View Profile"]</a>
                                    </li>
                                </ul>
                            </div><!--user-data end-->

                            <Suggestion />

                            <div class="tags-sec full-width">
                                <selectLang>
                                    <Language nav="w-100">

                                        <div class="cp-sec">
                                            <p><img src="template/images/cp.png" alt="">Jolijober 2020</p>
                                        </div>
                                    </Language>
                                </selectLang>
                            </div><!--tags-sec end-->

                        </div><!--main-left-sidebar end-->
                    </div>

                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">

                            <PostActionBar />


                            <div class="posts-section">

                              <PostsSection IsSlider="true"/>

                            </div><!--posts-section end-->

                        </div><!--main-ws-sec end-->
                    </div>

                    <div class="col-lg-3 pd-right-none no-pd">
                        <div class="right-sidebar">
                            <Cards Title="Top Jobs" />
                            <Cards Title="Most Viewed This Week" />
                            <Suggestion Title="Most Viewed People" />
                        </div><!--right-sidebar end-->
                    </div>

                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
</main>




<ChatBox />