@page "/Jobs"


@using Jolijober.Views.Components
@using JolijoberProject.Main.Repository.Interfaces
@using JolijoberProject.Main.Repository.DataTransferObjects

@using Jolijober.ViewModel

@inject IPostRepository _postRepository

<CallJavascript />

<Search OnSearch="SearchClick" />


<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3">

                        <Filter OnFilter="PassFilter" />

                    </div>

                    <div class="col-lg-6">
                        <div class="main-ws-sec">

                            <div class="posts-section">
                                @foreach (var item in posts)
                                {
                                    <JobPost Post="item" />
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="right-sidebar">

                            <Cards Title="Top Jobs" />
                            <Cards Title="Most Viewed This Week" />

                        </div><!--right-sidebar end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
</main>

@code
{
    List<PostDto> posts = new List<PostDto>();
    protected override async  Task OnInitializedAsync()
    {
        posts = await _postRepository.GetPostsAsync();
    }

    private async Task PassFilter(FilterDto filter)
    {
        posts = await _postRepository.GetPostsFilterAsync(filter);
    }
 
    private async Task SearchClick(string text)
    {
        posts = await _postRepository.GetPostsSearchAsync(text);
    }

}
