@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using JolijoberProject.Shared.SharedKernal.EnumClass;
@using JolijoberProject.Shared.SharedKernal.ExtensionMethod;


<AuthorizeView Roles="@(Navigation.Uri.IsContainRole(Roles.Company)?Roles.Company.ToString():Roles.User.ToString())">
    <Authorized>
            <header>
                <div class="container">
                    <div class="header-data">
                        <div class="logo">
                            <a href="javascript:void(0)" title=""></a>
                        </div><!--logo end-->
                        <div class="search-bar">
                            <form>
                                <input type="text" name="search" placeholder="Search...">
                                <button type="submit"><i class="la la-search"></i></button>
                            </form>
                        </div><!--search-bar end-->
                        <nav>
                            <ul>
                                <li>
                                    <a href="/Index" title="">
                                        <span><img src="template/images/icon1.png" alt=""></span>
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title="">
                                        <span><img src="template/images/icon2.png" alt=""></span>
                                        Companies
                                    </a>
                                    <ul>
                                        <li><a href="/Companies" title="">Companies</a></li>
                                        <li><a href="/Company" title="">Company Profile</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/Projects" title="">
                                        <span><img src="template/images/icon3.png" alt=""></span>
                                        Projects
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title="">
                                        <span><img src="template/images/icon4.png" alt=""></span>
                                        Profiles
                                    </a>
                                    <ul>
                                        <li><a href="/Profile" title="">User Profile</a></li>
                                        <li><a href="/MyProfile" title="">my-profile-feed</a></li>
                                        <li><a href="/Profiles" title="">all-profile</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/Jobs" title="">
                                        <span><img src="template/images/icon5.png" alt=""></span>
                                        Jobs
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title="" class="not-box-open">
                                        <span><img src="template/images/icon6.png" alt=""></span>
                                        Messages
                                    </a>
                                    <div class="notification-box msg">
                                        <div class="nt-title">
                                            <h4>Setting</h4>
                                            <a href="javascript:void(0)" title="">Clear all</a>
                                        </div>
                                        <div class="nott-list">
                                            <div class="notfication-details">
                                                <div class="noty-user-img">
                                                    @*<img src="template/images/resources/ny-img1.png" alt="">*@
                                                </div>
                                                <div class="notification-info">
                                                    <h3><a href="javascript:void(0)" title="">Jassica William</a> </h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                                    <span>2 min ago</span>
                                                </div><!--notification-info -->
                                            </div>
                                            <div class="notfication-details">
                                                <div class="noty-user-img">
                                                    @*<img src="template/images/resources/ny-img2.png" alt="">*@
                                                </div>
                                                <div class="notification-info">
                                                    <h3><a href="javascript:void(0)" title="">Jassica William</a></h3>
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                    <span>2 min ago</span>
                                                </div><!--notification-info -->
                                            </div>
                                            <div class="notfication-details">
                                                <div class="noty-user-img">
                                                    @*<img src="template/images/resources/ny-img3.png" alt="">*@
                                                </div>
                                                <div class="notification-info">
                                                    <h3><a href="javascript:void(0)" title="">Jassica William</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                                                    <span>2 min ago</span>
                                                </div><!--notification-info -->
                                            </div>
                                            <div class="view-all-nots">
                                                <a href="javascript:void(0)" title="">View All Messsages</a>
                                            </div>
                                        </div><!--nott-list end-->
                                    </div><!--notification-box end-->
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title="" class="not-box-open">
                                        <span><img src="template/images/icon7.png" alt=""></span>
                                        Notification
                                    </a>
                                    <div class="notification-box">
                                        <div class="nt-title">
                                            <h4>Setting</h4>
                                            <a href="javascript:void(0)" title="">Clear all</a>
                                        </div>
                                        <div class="nott-list">
                                            <div class="notfication-details">
                                                <div class="noty-user-img">
                                                    @*<img src="template/images/resources/ny-img1.png" alt="">*@
                                                </div>
                                                <div class="notification-info">
                                                    <h3><a href="javascript:void(0)" title="">Jassica William</a> Comment on your project.</h3>
                                                    <span>2 min ago</span>
                                                </div><!--notification-info -->
                                            </div>
                                            <div class="notfication-details">
                                                <div class="noty-user-img">
                                                    @* <img src="template/images/resources/ny-img2.png" alt="">*@
                                                </div>
                                                <div class="notification-info">
                                                    <h3><a href="javascript:void(0)" title="">Jassica William</a> Comment on your project.</h3>
                                                    <span>2 min ago</span>
                                                </div><!--notification-info -->
                                            </div>
                                            <div class="notfication-details">
                                                <div class="noty-user-img">
                                                    @* <img src="template/images/resources/ny-img3.png" alt="">*@
                                                </div>
                                                <div class="notification-info">
                                                    <h3><a href="javascript:void(0)" title="">Jassica William</a> Comment on your project.</h3>
                                                    <span>2 min ago</span>
                                                </div><!--notification-info -->
                                            </div>
                                            <div class="notfication-details">
                                                <div class="noty-user-img">
                                                    @* <img src="template/images/resources/ny-img2.png" alt="">*@
                                                </div>
                                                <div class="notification-info">
                                                    <h3><a href="javascript:void(0)" title="">Jassica William</a> Comment on your project.</h3>
                                                    <span>2 min ago</span>
                                                </div><!--notification-info -->
                                            </div>
                                            <div class="view-all-nots">
                                                <a href="javascript:void(0)" title="">View All Notification</a>
                                            </div>
                                        </div><!--nott-list end-->
                                    </div><!--notification-box end-->
                                </li>
                            </ul>
                        </nav><!--nav end-->
                        <div class="menu-btn">
                            <a href="javascript:void(0)" title=""><i class="fa fa-bars"></i></a>
                        </div><!--menu-btn end-->
                        <div class="user-account">
                            <div class="user-info">
                                <img src="template/images/via/30x30.png" alt="">
                                <a href="javascript:void(0)" title="">John</a>
                                <i class="la la-sort-down"></i>
                            </div>
                            <div class="user-account-settingss">
                                <h3>Online Status</h3>
                                <ul class="on-off-status">
                                    <li>
                                        <div class="fgt-sec">
                                            <input type="radio" name="cc" id="c5">
                                            <label for="c5">
                                                <span></span>
                                            </label>
                                            <small>Online</small>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fgt-sec">
                                            <input type="radio" name="cc" id="c6">
                                            <label for="c6">
                                                <span></span>
                                            </label>
                                            <small>Offline</small>
                                        </div>
                                    </li>
                                </ul>
                                <h3>Custom Status</h3>
                                <div class="search_form">
                                    <form>
                                        <input type="text" name="search">
                                        <button type="submit">Ok</button>
                                    </form>
                                </div><!--search_form end-->
                                <h3>Setting</h3>
                                <ul class="us-links">
                                    <li><a href="javascript:void(0)" title="">Account Setting</a></li>
                                    <li><a href="javascript:void(0)" title="">Privacy</a></li>
                                    <li><a href="javascript:void(0)" title="">Faqs</a></li>
                                    <li><a href="javascript:void(0)" title="">Terms & Conditions</a></li>
                                </ul>
                                <h3 class="tc"><a href="/Account/Logout" title="">Logout</a></h3>
                            </div><!--user-account-settingss end-->
                        </div>
                    </div><!--header-data end-->
                </div>
            </header><!--header end-->
            @Body
        </Authorized>
    <NotAuthorized>
        <RedirectToLogin IsAuth="true" UrlReferrer="@Navigation.Uri.RemoveHostUri(true)" />
    </NotAuthorized>
</AuthorizeView>



