@inherits LayoutComponentBase

<header>
    <div class="container">
        <div class="header-data">
            <div class="logo pd-btm">
                <a href="index.html" title=""><img src="images/logo.png" alt=""></a>
            </div><!--logo end-->
            <div class="forum-bar">
                <h2>Forum</h2>
                <ul>
                    <li><a href="#" title="">Tags</a></li>
                    <li><a href="#" title="">Users</a></li>
                    <li><a href="#" title="" class="ask-question">Ask a question</a></li>
                </ul>
            </div><!--search-bar end-->
            <div class="login_register">
                <ul>
                    <li><a href="/" title="">Login</a></li>
                    <li><a href="/" title="">Register</a></li>
                </ul>
            </div><!--login_register end-->
            <div class="search-bar st2">
                <form>
                    <input type="text" name="search" placeholder="Search...">
                    <button type="submit"><i class="la la-search"></i></button>
                </form>
            </div><!--search-bar end-->
        </div><!--header-data end-->
    </div>
</header>


@Body