@page "/"
@namespace Jolijober.Views.Home
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Jolijober.Util
@{
    Layout = null;
}


<!--green #19a974  <--- default #e75348-->
<!--green dark #169365 <---  default #e44d3a-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jolijober</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <base href="~/" />

    <partial name="@ViewPath._SharedStyles" />
</head>
<body>
    <div class="wrapper">
        <partial name="@ViewPath._CookieConsentPartial" />
        <app>
            <component type="typeof(App)" render-mode="ServerPrerendered" />
        </app>
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            <img  href=""  src="~/template/images/svg/undraw_page_not_found_su7k.svg" class="reload rounded mx-auto d-block float-none" style="cursor: pointer;" />
        </environment>
        <div class="mx-auto text-center d-block">
            <p href="" style="cursor: pointer;" class="reload display-2">Go to login page</p>
            <a class="dismiss btn fa fa-2x fa-refresh reload w-50 " href="" style="background: #169365;color: white;"></a>
        </div>
    </div>

    <partial name="@ViewPath._SharedScripts" />
</body>
</html>
