@page "/"
@namespace Jolijober.Views.Home
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Jolijober.Util
@{
    Layout = null;
}

<!--colorbook-->
<!--green #19a974  <--- default #e75348-->
<!--green dark  #169365 <---  default #e44d3a-->
<!--green darker #0F6747 <---  default #dd3e2b-->

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>Jolijober</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <base href="~/" />

    <partial name="@ViewPath._SharedStyles" />
</head>
<body>
    <partial name="@ViewPath._CookieConsentPartial" />
    <app>
        <div class="wrapper">
            <component type="typeof(App)" render-mode="ServerPrerendered" />
        </div>
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            <h1>...</h1>
        </environment>

    </div>

    <partial name="@ViewPath._SharedScripts" />
</body>
</html>
